


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #fff;      
}

.hidden {
    visibility: hidden;
    height: 0;
}


.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    padding-left: 50px;
    align-items: center;
    background: url(image/4.jpg);
    background-size: cover;
    clip-path: circle(250vh at 50% -150vh);
    
}


.banner .content .text {
    position: relative;
    z-index: 10;
    color: #fff;
}
.banner .content .text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 0.8em;
    text-transform: uppercase;
}
.banner .content .text h3 {
    font-size: 3.5em;
    font-weight: 700;
    line-height: 0.8em;
    text-transform: uppercase;
}
.banner .content .text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}
.banner .content .text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
    border-radius: 20px;
}
.banner .content .text a:hover {
    background: #03a9f4;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    

}
header.sticky {
   
    background: #fff;
    padding: 10px 100px;
    
    box-shadow: 0 5px 20px rgba(0, o, 0, 0.05);
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo {
    color: #111;
}



header .navigation {
    position: relative;
    display: flex;
}
header .navigation li {
    list-style: none;
    margin-left: 30px;
}
header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
header.sticky .navigation li a {
    color: #111;
}
header .navigation li a:hover {
    color: #03a9f4;
}


/* About */

section{
    padding: 90px;
    
}
.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50 {
    position: relative;
    width: 48%;
}
.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}


.row .col50 .imgBx{
    position: relative;
    width: 100%;
    height: 100%;
}
.row .col50 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
/* Price */


.price {
    background: url(image/2.jpg);
    background-size: cover;
}
.white .titleText ,
.white p{
    color: #fff;
}
.price  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
}

.price  .content .box {
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: rgba(0, o, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.price  .content .box .imgBx {
    position: relative;
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.price  .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.price  .content .box .text {
    text-align: center;
}
.price  .content .box .text p {
    color: #fff;
    font-style: italic;
    font-weight: 700;
}
.price  .content .box .text h3 {
    margin-top: 20px;
    color: #fff;
    font-size: 1em;
    
    font-weight: 900;
}




/* Contact */

.contact {
    background: url(image/6.jpg);
    background-size: cover;
}




.contact .contactForm {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, o, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;
}


.contactForm h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}


.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;

}


.contactForm .inputBox input ,
.contactForm .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    resize: none;
     
}
.contactForm .inputBox input[type="submit"]{
    font-size: 1em;
    color: #fff;
    background: #03a9f4;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.contactForm .inputBox .btn:hover{
    letter-spacing: 2px;
}


/* Footer */
footer {
    bottom: 0;
    justify-content: space-between;
}



.copyrightText {
    padding: 30px 30px;
    border-top: 1px solid rgba(0, o, 0, 0.1);
    background: #111;
    text-align: center;
}
.copyrightText p {
    color: #fff;


}
.copyrightText a {
    color: #03a9f4;
    font-weight: 500;
    text-decoration: none;
}


.social {
    background: #111;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    
}

.social li {
    list-style: none;
}
.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.7);
    transition: 0.5s;
}
.social li a:hover {
    transform: scale(0.7) translateY(-25px);
}




@media (max-width: 700px){

    header, header.sticky {
        padding: 10px 20px;
    }
    header .navigation {
     display: none;  
    }
 
    header .navigation.active {
         width: 100%;
         height: calc(100% - 68px);
         top: 10%; 
         left: 0;
         position: fixed;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         background: #fff;
    }
    header .navigation li{
         margin-left: 0;
    }
    header .navigation li a {
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300; 
         font-weight: 300; 
        font-weight: 300; 
    }
 
 
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(image/menu1.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer; 
    }
 
    .menuToggle.active {
        
        background: url(image/close1.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
    }
    header.sticky .menuToggle {
        filter: invert(2);
    }

    .section {
        padding: 5px;
    }
    
    
    
    .banner .content .text h2 {
        font-size: 3em;
    }
    .banner .content .text h3 {
        font-size: 2em;
    }
    .banner .content  p {
        font-size: 1em;
    }
    

    
   .row{
       left: 0;
        flex-direction: column;
    }
    .row .col50 {
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx {
        
        height: 300px;
        margin-top: 20px;
    }

    
    .price  .content .box {
    
        margin: 20px;
        padding: 30px;
   
    }
    .contact .contactForm {
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }


}


@media (max-width: 480px) {

    .banner .content h2 {
        font-size: 2.2em;
        
    }
}